<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368901996753-aane96k15gbs6iinv0k5t1mm9e1d9se9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368901996753-aane96k15gbs6iinv0k5t1mm9e1d9se9</string>
	<key>API_KEY</key>
	<string>AIzaSyCLUeCchv6qdQrK1gh7NVbmo7JLPdJBxSI</string>
	<key>GCM_SENDER_ID</key>
	<string>368901996753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syskron.performance.app.demo</string>
	<key>PROJECT_ID</key>
	<string>s2a-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>s2a-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368901996753:ios:fefb51e69df3b8e9e305f0</string>
	<key>DATABASE_URL</key>
	<string>https://s2a-notification.firebaseio.com</string>
</dict>
</plist>